<h1>Stupid Coaching</h1>
</br>
<form class="form-inline" action="answer" method="get" data-turbo="false">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only"><p>Ask your question!</p></label>
    <input type="text" name="ask" class="form-control" id="inputPassword2" placeholder="Ask your question">
  </div>
  <button type="submit" value="Ask!" class="btn btn-primary mx-sm-3 mb-2">Ask!</button>
</form>
